<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRoutingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8735/RoutingServer/SOAP/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoutingService"
                contract="ServiceReference1.IRoutingService" name="BasicHttpBinding_IRoutingService" />
        </client>
    </system.serviceModel>
</configuration>